:root {
    --text-color: #2f3e46;
    --primary-background-color: #d0ccc733;
    --orange-color: #f48c06;
    --white-color: #ffffff;
    --blue-color: #0077b6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-family: "Source Serif Pro", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Containers */

.container {
    max-width: 1440px;
    margin: 0 auto;
}
