* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-family: "Source Serif Pro", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    height: 80px;
}

.logo {
    height: 54px;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.navigation__links {
    display: flex;
    gap: 45px;
    align-items: right;
}

.navigation__links li a {
    color: #2f3e46;
    font-size: 16px;
}

.navigation__links li a:hover {
    color: #f48c06;
}

#navigation__link {
    color: #f48c06;
}

/* Hero Section */

#hero-section {
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    background-position: top;
    background-color: #fbfafa;
}

.hero-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 190px;
}

.hero-section__container h1 {
    color: #ffffff;
    text-align: center;
    font-size: 140px;
    line-height: 90px;
    font-weight: 600;
}

.hero-section__container h2 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
}

.hero-section__container h3 {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    line-height: 75px;
    font-weight: 300;
    font-style: italic;
}

/* About Us Section */

#about-section {
    background-color: #d0ccc733;
}

.about-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

.about-section__container h2 {
    text-align: center;
    font-size: 60px;
    line-height: 72px;
    color: #2f3e46;
    margin-bottom: 60px;
}

.about-section__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 40px;
}

.about-section__left {
    width: 50%;
}

.about-section__right video {
    width: 100%;
    height: auto;
}

.about-section__right {
    width: 50%;
}

.about-section__left h3 {
    font-size: 40px;
    line-height: 50px;
    color: #2f3e46;
    margin-bottom: 35px;
    font-weight: 400;
}

.about-section__left p {
    color: #2f2f2f;
    font-size: 20px;
    margin-bottom: 45px;
}

.about-section__left a {
    color: #f48c06;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 30px;
}

/* Destinations Section */

.destinations-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;

    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.destinations-section__left {
    width: 30%;
}

.destinations-section__left h3 {
    text-align: left;
    font-size: 60px;
    line-height: 72px;
    color: #2f3e46;
    margin-bottom: 40px;
    font-weight: 600;
}

.destinations-section__left ol li,
li a {
    color: #2f3e46;
    font-size: 20px;
    line-height: 60px;
}

.destinations-section__left ol li {
    margin-left: 30px;
}

.destinations-section__left ol li:hover,
li a:hover {
    color: #f48c06;
}

.explore-link {
    color: #f48c06;
    font-size: 20px;
    line-height: 120px;
}

.destinations-section__right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.destinations-card {
    width: 45%;

    padding: 10px;
    background-color: #d0ccc733;
    border-radius: 10px;
}

.destinations-card__img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.destinations-card__title {
    font-size: 25px;
    line-height: 40px;
    font-weight: 600;

    margin-bottom: 5px;
    text-align: left;
}

.destinations-card__text {
    font-size: 14px;
    line-height: 28px;
    color: #2f3e46;
    text-align: left;
    margin-bottom: 30px;
}
